[Unit]
Description=Web-camera streaming daemon

[Service]
ExecStart=/home/danila/.local/bin/camera_stream_server /dev/video0

[Install]
WantedBy=default.target

